body.body-index
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    font-size: $main-size;
    font-family: $main-font;
    color: $white;
    background-repeat: repeat-y;

    .container-landing
    {
        height: 100%;
        width: 100%;
        background-color: rgba(#12122f, 0.87);

        .logo
        {
            height: 200px;
            width: 200px;
            margin: auto;
            padding: 50px;

            img
            {
                height: 100%;
                width: auto;
                z-index: 30;
            }
        }

        h2
        {
            margin: 25px 0;
            text-transform: uppercase;
            font-weight: $extra-bold;
        }

        p
        {
            width: 600px;
            margin: auto auto 75px auto;
        }

        form
        {
            input[type = "submit"], .button-home
            {
                height: 50px;
                width: 140px;
                display: block;
                margin: auto;
                margin-top: 25px;
                background-image: $gradient;
                line-height: 50px;
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: $extra-bold;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
                border-radius: 25px;
                opacity: 0.9;

                &:hover
                {
                    opacity: 1;
                }
            }
        }

        a {
            height: 50px;
            width: 250px;
            display: block;
            margin: auto;
            margin-top: 25px;
            background-image: $gradient;
            line-height: 50px;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: $extra-bold;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            border-radius: 25px;
            opacity: 0.9;

            &:hover
            {
                opacity: 1;
            }
        }
    }
}
