body.body-space
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: $main-size;
    font-family: $main-font;
    color: $white;
    background: $third-color;

    .container-space
    {
        height: 100%;
        width: 100%;

        /* The logo */
        .logo
        {
            height: 50px;
            width: 75px;
            position: absolute;
            top: 25px;
            left: 50px;
            z-index: 15;

            img
            {
                height: auto;
                width: 100%;
            }
        }

        /* User's informations */
        .user-informations
        {
            position: absolute;
            top: 50px;
            right: 50px;
            z-index: 20;

            .date
            {
                margin-left: 50px;
            }
        }

        /* Container of the skymap */
        #container-skymap
        {
            height: 85%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: grey;
            z-index: 9;
        }

        /* Container of the slider */
        .container-slider
        {
            height: 15%;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $third-color;
            font-size: $text-size;
            z-index: 10;
            transition: width 0.5s ease;

            .slider
            {
                height: 100%;
                width: 100%;
                position: relative;

                // Progress bar of the slider
                .slider-progress-bar
                {
                    height: 4px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: $gradient;
                }

                // Arrows of the slider
                .arrow
                {
                    position: absolute;
                    top: calc(50% - 2px);
                    transform: translateY(-50%);
                    border: solid $white;
                    border-width: 0 5px 5px 0;
                    display: inline-block;
                    padding: 5px;
                    cursor: pointer;
                }

                .left-arrow {left: 50px; transform: rotate(135deg);}
                .right-arrow {right: 50px; transform: rotate(-45deg);}

                .box-slides
                {
                    height: 100%;
                    width: 80%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    overflow: hidden;

                    .container-slides
                    {
                        height: 100%;
                        width: 13200px;
                        position: relative;
                        cursor: move;
                        transition: transform 0.2s ease;

                        .slide
                        {
                            height: 100%;
                            width: 150px;
                            display: inline-block;
                            text-align: center;
                            float: left;
                            position: relative;

                            .name-constellation
                            {
                                position: absolute;
                                top: calc(50% - 35px);
                                left: 50%;
                                transform: translateX(-50%);
                                text-transform: uppercase;
                                font-weight: $extra-bold;
                                font-size: $slider-size;
                                user-select: none;
                                -moz-user-select: none;
                                -webkit-user-select: none;
                                -ms-user-select: none;
                            }

                            .button-constellation
                            {
                                height: 15px;
                                width: 15px;
                                position: absolute;
                                top: calc(50% - 2px);
                                left: 45%;
                                background: $white;
                                border: none;
                                border-radius: 10px;
                                outline: none;
                                cursor: pointer;
                            }
                        }

                        .slide-active
                        {
                            .name-constellation
                            {
                        	    position: absolute;
                                top: 8px;
                                left: 50%;
                                transform: translateX(-50%);
                                padding: 5px;
                        	    background: $grey;
                                border-radius: 2px;

                                &::after
                                {
                                    height: 0;
                                    width: 0;
                                	position: absolute;
                            	    top: 100%;
                                	left: 50%;
                                	border: solid transparent;
                                	content: " ";
                                	pointer-events: none;
                                	border-color: rgba(0, 0, 0, 0);
                                	border-top-color: $grey;
                                	border-width: 8px;
                                	margin-left: -8px;
                                }
                            }

                            .button-constellation
                            {
                                background: $second-color;

                                &::after
                                {
                                    height: 25px;
                                    width: 25px;
                                    position: absolute;
                                    top: -5px;
                                    left: -5px;
                                    content: ' ';
                                    background: $second-color;
                                    box-shadow: 0px 0px 10px 5px $second-color;
                                    opacity: 0.5;
                                    border-radius: 15px;
                                }
                            }
                        }
                    }
                }

                // Underline (the line behind the slides)
                // .slider-underline
                // {
                //     height: 2px;
                //     width: 80%;
                //     position: absolute;
                //     top: calc(50% + 4px);
                //     left: 50%;
                //     transform: translateX(-50%);
                //     background: $grey;
                //     z-index: 9;
                // }
            }
        }

        /* Container of the slidebar */
        .container-informations
        {
            height: 100%;
            width: 30%;
            transform: translateX(100%);
            position: absolute;
            top: 0;
            right: 0;
            background: $third-color;
            box-shadow: $box-shadow;
            font-size: $text-size;
            z-index: 11;
            transition: transform 0.5s ease;

            .informations
            {
                height: 100%;
                width: 100%;
                position: relative;

                // Cross
                .cross
                {
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    top: 30px;
                    right: 50px;
                    cursor: pointer;
                    opacity: 0.3;
                    transition: opacity 0.3s ease;

                    &:hover
                    {
                        opacity: 1;
                    }

                    &::before, &::after
                    {
                        position: absolute;
                        left: 15px;
                        content: ' ';
                        height: 25px;
                        width: 5px;
                        background-color: $white;
                    }

                    &::before
                    {
                        transform: rotate(45deg);
                    }

                    &::after
                    {
                      transform: rotate(-45deg);
                    }
                }

                // Title of the constellation
                .title-constellation
                {
                    position: absolute;
                    top: 50px;
                    left: 50px;

                    .informations-name
                    {
                        font-size: 36px;
                        font-weight: $extra-bold;
                        opacity: 0;
                        transform: translate(-20px);
                        will-change: opacity transform;
                        transition: opacity 0.3s $transition 0.3s, transform 0.3s $transition 0.3s;
                    }

                    .informations-genitif
                    {
                        font-size: 24px;
                        font-style: $italic;
                        opacity: 0;
                        transform: translate(-20px);
                        will-change: opacity transform;
                        transition: opacity 0.3s $transition 0.4s, transform 0.3s $transition 0.4s;
                    }
                }

                .informations-navigation
                {
                    height: 50px;
                    width: 100%;
                    position: absolute;
                    top: 150px;
                    left: 0px;

                    .navigation-bar
                    {
                        height: 4px;
                        width: calc(100% - 110px);
                        position: absolute;
                        top: 50%;
                        left: 55px;
                        background: $second-color;
                    }

                    .progress-bar
                    {
                        transform: scaleX(0.25);
                        transform-origin: left;
                        background: $first-color;
                        z-index: 5;
                        transition: transform 0.5s ease;
                    }

                    .navigation
                    {
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        background: $second-color;
                        color: $white;
                        z-index: 10;
                        cursor: pointer;
                        text-align: center;
                        text-decoration: none;
                        line-height: 30px;
                        will-change: transform;
                        transition: transform 0.3s ease;
                    }

                    .navigation-active
                    {
                        top: 50%;
                        transform: translateY(-50%) scale(1.5);
                        background: $first-color;
                    }

                    .navigation-environment.navigation-active
                    {
                        transform: translateX(-50%) translateY(-50%) scale(1.5);
                    }

                    .navigation-history {left: 50px;}
                    .navigation-environment {left: 50%; transform: translateX(-50%) translateY(-50%);}
                    .navigation-visibility {right: 50px;}
                }

                .information-content
                {
                    height: auto;
                    width: calc(100% - 100px);
                    position: absolute;
                    top: 225px;
                    left: 50px;

                    h2
                    {
                        margin-bottom: 25px;
                        padding-bottom: 10px;
                        font-size: 24px;
                        text-transform: uppercase;
                        border-bottom: 2px solid $first-color;
                        font-weight: $extra-bold;
                    }

                    h3
                    {
                        margin-top: 25px;
                        margin-bottom: 10px;
                        font-size: $main-size;
                        font-weight: $extra-bold;
                    }

                    .content-history
                    {
                        display: none;
                    }

                    .content-environment {display: none;}
                    .content-visibility {display: none;}
                    .content-active {display: block;}
                }

                .informations-background
                {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .container-informations-active
        {
            transform: translateX(0%);

            .informations
            {
                .title-constellation
                {
                    .informations-name
                    {
                        opacity: 1;
                        transform: translateX(0px);
                    }

                    .informations-genitif
                    {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
        }
    }
}
