{% extends 'layouts/default.twig' %}

{% block content %}

<body class="body-index">
<section class="container-landing">
    <!-- Name of the website -->
    <div class="logo">
        <img src="{{ asset('img/logo_sky.png') }}" alt="Logo of the website">
    </div>
    <!-- Explains how to navigate in the website -->
    <h2>How to navigate on the website ?</h2>
    <p>Drag and drop the sky to navigate in the constellations. Click on a bubble in the slider to see the information of the constellation you choose.</p>
    <!-- Input for the city that the user enter -->
    <form action="welcome" method="get">
        <input type="submit" value="Let's go"></input>
    </form>

    <img class="bg" src="assets/img/bg.png" alt="Image of the sky">
</section>

{% endblock %}
