{% extends 'layouts/default.twig' %}

{% block content %}

<body class="body-index">
<section class="container-landing" style="background-image:url('{{ asset('img/bg.png') }}');">
    <!-- Name of the website -->
    <div class="logo">
        <img src="{{ asset('img/logo_sky.png') }}" alt="Logo of the website">
    </div>
    <!-- Explains how to navigate in the website -->
    <h2>How to navigate on the website ?</h2>
    <p>Drag and drop the sky to navigate in the constellations. Click on a bubble in the slider to see the information of the constellation you choose.</p>
    <!-- Input for the city that the user enter -->
    <form action="welcome" method="post">
        <input type="submit" value="Start" name="start">
    </form>
</section>

{% endblock %}
